.image-card
{
    width: 1000px;
    height: 1000px;
    /* margin: auto; */
    /* border-bottom: 5px solid red;
    border-top: 5px solid red; */
    margin-bottom:-20rem;
}
.image-container
{padding-top: 40px;
padding-left: 400px;
    width: 50%;
    height: 50%;
    overflow: hidden;
    border-radius: 10px;
   
}
.date{
    padding-left: 400px;
}
.description
{
    padding-left: 400px;
}
.titlehead
{
    color: white;
    font-size: x-large;
    text-transform: capitalize;
    background-color: black;
    padding: 2rem 0;
    /* display:inline-block; */

}

.editbtn{
    background-color: rgb(248, 239, 227);
    margin-right: 9px;
    /* padding-top: 2px; */
    border-color:rgb(237, 110, 6);
    border-width: 0.5rem;
    
}
.deletbtn{
    background-color: rgb(248, 239, 227);
    margin-right: 5px;
    padding-top: 2px;
    border-color:rgba(210, 4, 4, 0.854);
    border-width: 0.5rem;
}


.right{
    float:right;
    margin-right: 10px;
    margin-bottom:10px;
    margin-top: 10px;
}

/* .header{
    width: 100%;
    background-color: #0d77b6 !important;
    height: 60px;
} */

/* .titlehead{
    display:inline;
} */
.date
{
    color: red;
    font-weight: bold;
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.image-container img
{
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

h1
{
    width: 50px;
    /* margin: auto; */
}